.background-img {
    background-image: url("${pageContext.request.contextPath}/img/v4_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    background: linear-gradient(315deg, hsla(287, 23%, 65%, 1) 0%, hsla(23, 64%, 75%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(287, 23%, 65%, 1) 0%, hsla(23, 64%, 75%, 1) 100%);

    background: -webkit-linear-gradient(315deg, hsla(287, 23%, 65%, 1) 0%, hsla(23, 64%, 75%, 1) 100%);

}